body{
    margin: 0;
    display: flex;
    justify-content: center;
}

.Crumb{
    font-family: "Poppins";
    font-size: 20px;
    background-color: rgb(255, 65, 65);
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 65px;
}

.Head{
    font-family: "Poppins";
    font-size: 40px;
    font-weight: 500;
}

.App{
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
}

.Header{
    position: fixed;
    width: 100%;
    height: 90px;
    display: flex;
    justify-content: center;
    background-color: rgb(255, 255, 255);
    z-index: 999;
}

.HeaderContent{
    width:100%;
    height: 100%;
    max-width: 1440px;
    display: flex;
    align-items: center;
}

.HeaderLogo{
    font-family: "Poppins";
    font-size: 32px;
    font-weight: 500;
    cursor: pointer;
    margin-left: 25px;
}

.HeaderGroup{
    height: 100%;
    width: 450px;
    margin-left: auto;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.HGroupItem{
    font-family: "Poppins";
    font-size: 22px;
    font-weight: 500;
    cursor: pointer;
    transition: color .2s;
}

.HGroupItem:hover{
    color: rgb(255, 65, 65);
}

.HeroCover{
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Hero{
    width: 90%;
    max-width: 1440px;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.HeroDesc{
    display:flex;
    flex-direction: column;
    justify-content: center;
    height: 70%;
}

.HDIntro{
    font-family: 'Poppins';
    font-size: 65px;
}

.HDRole{
    font-family: 'Poppins';
    font-size: 79px;
    font-weight: 700;
}

.HDLocation{
    font-family: 'Poppins';
    font-size: 25px;
    font-weight: 300;
}

.HeroImg{
    height: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;
}

.HeroImage{
    border-radius: 1000px;
    border: 10px solid black;
}

.HDButtons{
    width: 400px;
    height: 50px;
    display: flex;
    margin-top: 35px;
    margin-bottom: 35px;
}

.Button-Portfolio{
    width: 50%;
    height: 100%;
    background-color: rgb(40,40,40);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.Button-Contact{
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.ButtonFont1{
    font-family: 'Poppins';
    font-size: 16px;
    font-weight: 500;
    color: white;
}

.ButtonFont2{
    font-family: 'Poppins';
    font-size: 16px;
    font-weight: 500;
}

@media (max-width:850px) {

    .Hero {
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        margin-top: 110px;
    }

    .HDRole{
        white-space: nowrap;
        font-size: 50px;
    }

    .HeroDesc{
        align-items: center;
    }

    .HeroImg{
        margin-left:0px;
    }

    .HDButtons{
        width: 300px;
    }
}

@media (max-width:750px) {

    .HeroImage{
        width: 70%;
    }
    .HDIntro{
        font-size: 30px;
    }

    .HDRole{
        font-size: 30px;
    }

    .HDLocation{
        font-size: 20px;
    }
}

.AboutCover{
    width: 100%;
    background-color: rgb(250, 250, 250);
    display: flex;
    justify-content: center;
}

.About{
    width: 90%;
    max-width: 1440px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.AboutTitle{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.AboutContent{
    width: 100%;
    display: flex;
}

.AboutBody{
    width: 70%;
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

.ABIntro{
    font-family: 'Poppins';
    font-size: 30px;
}

.ABISpecial{
    font-weight: 600;
    border-bottom: 4px solid rgb(255, 65, 65);
}

.ABText{
    font-size: 23px;
    font-weight: 300;
    font-family: 'Poppins';
    margin-top: 20px;
}

.AboutExtra{
    width: 30%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.AExtraYears{
    font-family: 'Poppins';
    font-size: 160px;
    font-weight: 600;
    padding:0px;
    margin:0px;
    z-index: 1;
}

.AExtraDesc{
    font-family: 'Poppins';
    font-size: 24px;
    font-weight: 500;
    z-index: 1;
    margin-bottom: 50px;
    text-align: center;
}

.AExtraCircle{
    background-color: rgb(255, 65, 65);
    width: 120px;
    height: 120px;
    margin-bottom: 40px;
    border-radius: 1000px;
    z-index: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.AboutInfo{
    width: 100%;
    display: flex;
    margin-bottom: 40px;
}

.AInfoSection{
    flex:1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.AITitle{
    font-size: 19px;
    font-family: 'Poppins';
    color: rgb(60,60,60);
}

.AIContent{
    font-size: 21px;
    font-weight: 600;
    font-family: 'Poppins';
}
@media (max-width:800px) {

    .ABText{
        font-size: 16px;
        font-weight: 500;
    }

}

@media (max-width: 550px){
    .AboutInfo{
        flex-direction: column;
        align-items: center;
    }

    .AITitle {
        text-align: center;
    }

    .AInfoSection{
        margin-top: 30px;
    }

    .AExtraDesc{
        font-size: 14px;
    }

    .AExtraCircle{
        width: 80px;
        height: 80px;
    }

    .ABIntro{

    }

    .AExtraYears{
        font-size: 100px;
    }
}

.SkillsCover{
    width: 100%;
    min-height: 850px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.Skills{
    width: 90%;
    max-width: 1300px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.SkillGrid{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    min-height: 600px;
    margin-bottom: 30px;
    margin-top: 30px;
}

.SkillItem{
    flex:1;
    min-width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
    border-radius: 20px;
    border: 3px solid rgb(233, 233, 233);
    margin:10px;
    box-shadow: 0px 0px 10px rgb(117, 117, 117);
}

.SkillImage{
    width: 50px;
}

.SkillFont{
    font-family: 'Poppins';
    font-size: 30px;
    font-weight: 500;
    margin-top: 20px;
}

.SkillDesc{
    font-family: 'Poppins';
    font-size: 18px;
    text-align: center;
    color: rgb(134, 134, 134);
    width: 80%;
}

.PortfolioCover{
    min-height: 900px ;
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: rgb(250, 250, 250);
}

.Portfolio{
    width: 100%;
    max-width: 1440px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Projects{
    width: 90%;
    min-height: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Project{
    width: 80%;
    height: 450px;
    margin-top: 40px;
    margin-bottom: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    border-radius: 20px;
    box-shadow: 0px 0px 12px rgb(214, 214, 214);
}

.ProjectImage{
    width: 51%;
    height: 92%;
    border-radius: 20px;
    background-image: url("./Images/WebProject.png");
    background-position: center;
    background-size: 100% auto;
    background-repeat: no-repeat;
}

.ProjectInfo{
    width: 41%;
    height: 92%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.ProjectName{
    font-family: 'Poppins';
    font-weight: 600;
    font-size: 19px;
}

.ProjectDesc{
    font-family: 'Poppins';
    color: rgb(100,100,100);
    text-align: center;
    width: 300px;
}

.ProjectToolbox{
    display: flex;
}

.ProjectTool{
    margin: 15px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0px 0px 9px rgb(136, 136, 136);
    padding: 10px;
    padding-left: 13px;
    padding-right: 13px;
    font-family: 'Poppins';
}

.ProjectSource{
    display: flex;
    justify-content: space-between;
    width: 240px;
    height: 50px;
}

.SourceCode{
    width: 120px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.SourceView{
    width: 120px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.SourceFont{
    font-family: 'Poppins';
    font-weight: 500;
    display: flex;
    align-items: center;
}

.Sourcego{
    margin-left: 5px;
}

@media (max-width:900px) {
    .Project{
        flex-direction: column;
    }

    .ProjectImage{
        width: 90%;
    }
}

.ContactCover{
    width: 100%;
    height: 800px;
    display: flex;
    justify-content: center;
}

.Contact{
    max-width: 1440px;
    width: 90%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ContactBox{
    width: 100%;
    height: 600px;
    display: flex;
    align-items: center;
}

.LocationFrame{
    width: 50%;
    height: 90%;
    border-radius: 40px;
    box-shadow: 0px 0px 12px rgb(94, 94, 94);
    margin-left: 50px;
}

.ContactInfo{
    width: 40%;
    height: 90%;
    display: flex;
    flex-direction: column;
    margin-left: auto;
}

.InfoImage{
    width: 100px;
    height: 100px;
    border-radius: 1000px;
    background-color: white;
    box-shadow: 0px 0px 12px rgb(148, 148, 148);
    display: flex;
    align-items: center;
    justify-content: center;
}

.InfoTitle{
    font-family: 'Poppins';
    font-weight: 600;
    font-size: 26px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.InfoContent{
    font-family: 'Poppins';
    font-weight: 500;
    font-size: 18px;
    color: rgb(80,80,80);
}

@media (max-width: 550px) {
    .InfoTitle{
        font-size: 15px;
    }

    .InfoContent{
        font-size: 12px;
    }

    .ContactBox{
        flex-direction: column;
    }

    .ContactInfo{
        margin-left: 0px;
        margin-top: 40px;
    }

    .LocationFrame{
        margin-left: 0px;
        width: 100%;
    }
}

.CIBox{
    height: 50%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.CopyrightCover{
    width: 100%;
    height: 200px;
    background-color: rgb(30,30,30);
    display: flex;
    justify-content: center;
}

.Copyright{
    width: 90%;
    max-width: 1440px;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.CopyFont{
    font-family: 'Poppins';
    color:rgb(255,255,255);
    font-weight: 600;
    font-size: 24px;
    margin-left: 50px;
}

.SocialIcons{
    width: 130px;
    height: 50px;
    margin-right: 50px;
    background-color: white;
}